---
import MainLayout from "../layouts/LandingLayout.astro";
import LandingPage from "../components/Landing";
import { Card, CardHeader, CardTitle, CardContent } from "@/components/ui/card";
import React, { useState } from "react";


const pageTitle = "Welcome to the Language Learning App";
const pageDescription = "Start learning languages with our interactive tools.";

---

<MainLayout title={pageTitle} description={pageDescription}>

  <!-- <h1 class="text-4xl font-bold text-gray-800 mb-4 center">
    Welcome to LinguaLeap
  </h1>
  <p class="text-xl text-gray-600 mb-8 center">
    Start your language learning journey today!
  </p> -->
	<LandingPage />
  <div>
    <!-- <DashboardLayout /> -->
  </div>

</MainLayout>

---
