---
import LoginPage from '../components/LoginPage';
---

<html>
  <head>
    <title>Login Page</title>
  </head>
  <body>
    <div>
      <!-- Make sure this component is being hydrated -->
      <LoginPage client:load />
    </div>
  </body>
</html>
